<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Phoenix.Controller.get_csrf_token()} />
    <title>Lex</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script type="module" src={~p"/assets/app.js"}></script>
  </head>
  <body class="text-amber-50 font-sans min-h-screen antialiased">
    <%= @inner_content %>
  </body>
</html>
